<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>IoT File submit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/web-translator.css">
    <link rel="stylesheet" href="/web-translator.css">
    <script type="text/javascript" src="../static/web-translator.js"> </script>
    <script type="text/javascript" src="/web-translator.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link th:href="@{/web-translator.css}" rel="stylesheet" />
    <!--
      use this on css
      font-family: 'Anton', sans-serif;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Fjalla One', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Poppins', sans-serif;
    -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    </style>
  </head>
  <!-- Navigation bar -->
  <header id="top">
    <nav id="nav_bar">
      <a id="nav_bar_icon" href="https://tcc2021seniorproject.github.io/">
        <img src="/Images/basic_logo.png" alt="icon" class="image">
      </a>
      <a id="nav_bar_link" href="https://tcc2021seniorproject.github.io/">
        <p class="nav_title">Florida Tech Senior Project</p>
      </a>
      <div id="nav_head_title">
        <h1 class="header_title"> Model Based IoT</h1>
      </div>
      <div class="right_nav_items">
        <ul>
          <li id="home_nav_btn" class="nav_item">
            <a href="https://tcc2021seniorproject.github.io/#top">
              <p id="home_nav_p">About</p>
            </a>
          </li>
          <li id="sem1_nav_btn" class="nav_item">
            <a href="https://tcc2021seniorproject.github.io/src/html/milestones.html">
              <p id="sem1_nav_p">Milestone</p>
            </a>
          </li>
          <li id="sem2_nav_btn" class="nav_item">
            <a href="">
              <p id="sem2_nav_p">Run</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div id="submission_control">
      <form id="upload_form" action="/uploadMultiFile" method="post" enctype="multipart/form-data">
        <label for="fname">UPPAAL XML file</label>
        <input type="file" id="xmlFile" name="execFile" accept="xml, txt"><br><br>
        <label for="lname" class="execLabel">Executable file (optional)</label>
        <input type="file" class="execFile" name="execFile" accept="py, txt"><br><br>
        
        <input id="add_button" type="button" value="+" onclick="addRow()">
        <input type="button" value="-" onclick="removeRow ()"><br><br>
        <input type="submit" value="Submit">
      </form>

      <form id="script_view_form" action="/viewScript" method="get">
        <input type="submit" value="view script">
      </form>
    </div>
    
   	<div>
		<p style="white-space: pre-wrap" th:text="${submissionResult}"></p>
	</div>

    <div id="script_view">
    	<span style="white-space: pre-wrap" th:text="${scriptViewer}"></span>
    </div>
  </body>
</html>
